@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
<div class="text-center">
    <h1 class="display-4">Добро пожаловать в веб-приложение Сервисного центра </h1>
    <p>В данном веб-приложении вы сможете заполнять таблицы данными о Сервисном Центре <br /> Перейдите по любой из ссылок, предоставленных ниже и введите данные. </p>
    <h1 class="display-4"><a href="https://localhost:44320/employees" style="color: purple; text-decoration: none;">Сотрудники компании</a></h1>
    <p style="color: lightgray">=======</p>
    <h1 class="display-4"><a href="https://localhost:44320/position" style="color: purple; text-decoration: none;">Должности</a></h1>
    <p style="color: lightgray">=======</p>
    <h1 class="display-4"><a href="https://localhost:44320/orders" style="color: purple; text-decoration: none;">Заказы</a></h1>
    <p style="color: lightgray">=======</p>
    <h1 class="display-4"><a href="https://localhost:44320/remontmodel" style="color: purple; text-decoration: none;">Ремонтируемые модели</a></h1>
    <p style="color: lightgray">=======</p>
    <h1 class="display-4"><a href="https://localhost:44320/shops" style="color: purple; text-decoration: none;">Обслуживающие магазины</a></h1>
    <p style="color: lightgray">=======</p>
    <h1 class="display-4"><a href="https://localhost:44320/spares" style="color: purple; text-decoration: none;">Запчасти</a></h1>
    <p style="color: lightgray">=======</p>
    <h1 class="display-4"><a href="https://localhost:44320/view" style="color: purple; text-decoration: none;">Виды неисправностей</a></h1>
    <br /><br /><br /><br /><br /><br />
</div>
</body>